
@if (showAlert){
  <div class="alert">
    <div class="notification">
      <img aria-hidden="true" alt="check" src="https://placehold.co/24x24/10B981/10B981" class="icon">
      <div class="content">
          <div class="title">Order completed</div>
          <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam.</div>
          <div class="actions">
              <button class="action-button" (click)="pepe()">View status</button>
              <button class="action-button">{{message.message}}</button>
          </div>
      </div>
  </div>
  </div>
}

