/* HTML: <div class="loader"></div> */
.loader_1 ,
.loader_2,
.loader_3  {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid rgb(151, 154, 219);
  border-right-color: rgb(53, 42, 120);
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}

/* General container styles */
.container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Content container styles */
.content {
  width: 100%;
  max-width: 80%;
  margin: auto;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content {
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  .content {
    max-width: 85%;
  }
}

@media (min-width: 1280px) {
  .content {
    max-width: 66.67%;
  }
}

/* Card styles */
.card {
  width: 100%;
}

/* Header styles */
.header {
  padding: 12px;
}

.card-title {
  margin-bottom: 0;
}

/* Card body styles */
.card-body {
  border-top: 1px solid #e5e7eb;
}

/* Form styles */
.my-form {
  margin: 16px 0;
}

.input {
  padding: 8px 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  color: #4b5563;
  outline: none;
  margin: 4px;
}

.input:focus {
  border-color: #3b82f6;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #3b82f6;
  color: white;
  margin: 4px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #9ca3af;
}

.nav-tabs {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-tabs li {
  margin-right: 8px;
}

.nav-tabs button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #e5e7eb;
  cursor: pointer;
}

.nav-tabs button:disabled {
  background-color: #9ca3af;
}

.nav-outlet {
  margin-top: 16px;
}

.resend-link {
  margin-left: 8px;
  color: #3b82f6;
  text-decoration: none;
}

.resend-link:hover {
  text-decoration: underline;
}
