<div class="container">
  <div class="content">
    <div class="col-12">
      <div class="card">
        <div class="header">
          <h4 class="card-title">Recover Account</h4>
        </div>
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1" [disabled]="active !=1">
              <button ngbNavLink>One</button>
              <div *ngIf="active==1">
                <hr>
                <p>Enter your Email</p>
                <div [ngClass]="{'loader_1': loading.loader_1}"></div>
                <form class="my-form" autocomplete="off" [formGroup]="myForm_email" (ngSubmit)="SendEmail()">
                  <div [ngStyle]="myForm_email.controls['email'].errors && myForm_email.touched ? {'border-bottom': '1.8px solid #ec1818'} : {}">
                    <input type="email" placeholder="email" formControlName="email" class="input" required>
                    <button [disabled]="myForm_email.invalid" type="submit" class="btn btn-primary"><i class="bi bi-send me-1"></i>Send Email</button>
                  </div>
                </form>
              </div>
            </li>
            <li [ngbNavItem]="2" [disabled]="active !=2">
              <button ngbNavLink>Two</button>
              <div *ngIf="active==2">
                <hr>
                <p>Wait for your verification code</p>
                <form class="my-form" autocomplete="off" [formGroup]="myForm_code" (ngSubmit)="VerifyCode()">
                  <div [ngStyle]="myForm_code.controls['code'].errors && myForm_code.touched ? {'border-bottom': '1.8px solid #ec1818'} : {}">
                    <input type="text" placeholder="Code" formControlName="code" class="input" required>
                    <button [disabled]="myForm_code.invalid" type="submit" class="btn btn-primary"><i class="bi bi-check me-1"></i>Verify</button>
                  </div>
                </form>
                <div>
                  You have not received the code?
                  <a class="resend-link" href="">Resend</a>
                </div>
              </div>
            </li>
            <li [ngbNavItem]="3" [disabled]="active !=3">
              <button ngbNavLink>Three</button>
              <div *ngIf="active==3">
                <hr>
                <p>Enter the new password</p>
                <div [ngClass]="{'loader_3': loading.loader_3}"></div>
                <form class="my-form" autocomplete="off" [formGroup]="myForm_password" (ngSubmit)="RectifyPassword()">
                  <div [ngStyle]="myForm_password.controls['password_1'].errors && myForm_password.touched ? {'border-bottom': '1.8px solid #ec1818'} : {}">
                    <input type="password" placeholder="new password" formControlName="password_1" class="input" required>
                  </div>
                  <div [ngStyle]="myForm_password.controls['password_2'].errors && myForm_password.touched ? {'border-bottom': '1.8px solid #ec1818'} : {}">
                    <input type="password" placeholder="rectify password" formControlName="password_2" class="input" required>
                  </div>
                  <button [disabled]="myForm_password.invalid" type="submit" class="btn btn-primary"><i class="bi bi-check me-1"></i>OK</button>
                </form>
              </div>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="nav-outlet"></div>
        </div>
      </div>
    </div>
  </div>
</div>








<!--



<div class="min-h-screen flex items-center justify-center bg-zinc-100 dark:bg-zinc-800">
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white dark:bg-zinc-800">
    <img class="w-full" src="https://placehold.co/365x200" alt="Sample Image">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2 dark:text-white">Card title</div>
      <p class="text-zinc-700 dark:text-zinc-300 text-base">
        Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Read More
      </button>
    </div>
  </div>
</div>
 -->





















































<!--







<div class="bg-white white:bg-zinc-900 flex items-center justify-center min-h-screen">
  <div
    class="w-full md:w-11/12 lg:w-10/12 xl:w-8/12 mx-auto p-8 bg-white white:bg-zinc-900 rounded-lg shadow-xl flex flex-col md:flex-row">
    <div class="col-12">
      <div class="card">
        <div class="p-3">
          <h4 class="card-title mb-0">Recover Account</h4>
        </div>
        <div class="card-body border-top">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">

              <button ngbNavLink>One</button>
              <ng-template ngbNavContent>
                <p>Enter you Email</p>

                <form class="my-4">
                  <input type="email" placeholder="email" formControlName="email"
                    class="px-4 py-2 border rounded-lg text-zinc-700 dark:text-zinc-200 focus:outline-none focus:border-blue-500 dark:focus:border-blue-400 mx-1 my-1"
                    required>
                  <button type="submit" class="btn btn-primary mx-1  my-1"><i class="bi bi-send me-1"></i>Send Email</button>

                </form>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <button ngbNavLink>Two</button>
              <ng-template ngbNavContent>
                <div>
                  <p>Wait for you verification code</p>
                  <div class="my-4">
                    <input type="text" placeholder="Code" formControlName="code"
                      class="px-4 py-2 border rounded-lg text-zinc-700 dark:text-zinc-200 focus:outline-none focus:border-blue-500 dark:focus:border-blue-400 mx-1 my-1"
                      required>
                    <button type="submit" class="btn btn-primary mx-1 my-1"><i class="bi bi-check me-1"></i>
                      Verify</button>
                  </div>
                  <div>

                    You have not received the code ?

                    <a class="mx-2" href="">Resend</a>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <button ngbNavLink>Three</button>
              <ng-template ngbNavContent>
                <div>
                  <p>Enter the new password</p>
                  <div class="my-2">
                    <input type="password" placeholder="new password" formControlName="password-1"
                      class="  px-4 py-2 border rounded-lg text-zinc-700 dark:text-zinc-200 focus:outline-none focus:border-blue-500 dark:focus:border-blue-400 mx-2 my-1"
                      required>
                    <input type="password" placeholder="rectify password" formControlName="password-2"
                      class="  px-4 py-2 border rounded-lg text-zinc-700 dark:text-zinc-200 focus:outline-none focus:border-blue-500 dark:focus:border-blue-400 mx-2 my-1"
                      required>
                    <button type="submit" class="btn btn-primary my-2 mx-2">
                      <i class="bi bi-check me-1"></i>
                      OK
                    </button>

                  </div>
                </div>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>

          <div class="bg-light p-3 rounded">Active: {{ active }}</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
